<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login- cadastro</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="Login__cadastro.css"/>
<script id="applicationScript" type="text/javascript" src="Login__cadastro.js"></script>
</head>
<body>
<div id="Login__cadastro">
	<div id="Grupo_866">
		<div id="Thumbnail_Circle">
			<svg class="rectangle_16">
				<rect fill="rgba(232,232,232,1)" stroke="rgba(201,202,202,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="rectangle_16" rx="56.46368408203125" ry="56.46368408203125" x="0" y="0" width="112.927" height="112.927">
				</rect>
			</svg>
			<div id="group_54">
				<svg class="ellipse_9">
					<ellipse fill="rgba(186,188,188,1)" id="ellipse_9" rx="6.162694931030273" ry="6.162694931030273" cx="6.162694931030273" cy="6.162694931030273">
					</ellipse>
				</svg>
				<svg class="path_8" viewBox="2704.857 286.556 45.094 26.679">
					<path fill="rgba(244,244,244,1)" id="path_8" d="M 2704.85693359375 313.23486328125 C 2704.85693359375 313.23486328125 2725.92578125 286.5558776855469 2725.92578125 286.5558776855469 C 2725.92578125 286.5558776855469 2749.950927734375 313.23486328125 2749.950927734375 313.23486328125 C 2749.950927734375 313.23486328125 2704.85693359375 313.23486328125 2704.85693359375 313.23486328125 Z">
					</path>
				</svg>
				<svg class="path_8_bf" viewBox="2734.93 296.04 50.841 20.636">
					<path fill="rgba(255,255,255,1)" id="path_8_bf" d="M 2734.93017578125 316.6762084960938 C 2734.93017578125 316.6762084960938 2762.9267578125 296.0397644042969 2762.9267578125 296.0397644042969 C 2762.9267578125 296.0397644042969 2785.770751953125 316.6762084960938 2785.770751953125 316.6762084960938 C 2785.770751953125 316.6762084960938 2734.93017578125 316.6762084960938 2734.93017578125 316.6762084960938 Z">
					</path>
				</svg>
				<svg class="line_9" viewBox="0 0 12.392 1">
					<path fill="transparent" stroke="rgba(199,202,202,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="line_9" d="M 0 0 L 12.39215183258057 0">
					</path>
				</svg>
				<svg class="line_9_bh" viewBox="0 0 8.283 1">
					<path fill="transparent" stroke="rgba(199,202,202,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="line_9_bh" d="M 0 0 L 8.282797813415527 0">
					</path>
				</svg>
				<svg class="line_9_bi" viewBox="0 0 10.194 1">
					<path fill="transparent" stroke="rgba(199,202,202,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="line_9_bi" d="M 0 0 L 10.19421195983887 0">
					</path>
				</svg>
				<svg class="line_9_bj" viewBox="0 0 6.371 1">
					<path fill="transparent" stroke="rgba(199,202,202,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="line_9_bj" d="M 0 0 L 6.371382713317871 0">
					</path>
				</svg>
				<svg class="line_9_bk" viewBox="0 0 3.186 1">
					<path fill="transparent" stroke="rgba(199,202,202,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="line_9_bk" d="M 0 0 L 3.185691356658936 0">
					</path>
				</svg>
			</div>
		</div>
		<div id="Logo_here">
			<span>Logo here</span>
		</div>
		<div id="Grupo_865">
			<div id="Grupo_864">
				<div id="Grupo_863">
					<div id="group_20">
						<div id="rectangle_5" class="rectangle_5">
							<svg class="rectangle_5_br">
								<rect fill="rgba(255,255,255,1)" stroke="rgba(149,152,154,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="rectangle_5_br" rx="3" ry="3" x="0" y="0" width="319" height="40">
								</rect>
							</svg>
						</div>
						<div id="eg__Jaison_Just">
							<span>dd/mm/aaaa</span>
						</div>
					</div>
					<div id="Name">
						<span>Data de Nascimento</span><br>
					</div>
					<div id="group_20_bu">
						<svg class="rectangle_5_bv">
							<rect fill="rgba(255,255,255,1)" stroke="rgba(149,152,154,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="rectangle_5_bv" rx="3" ry="3" x="0" y="0" width="319" height="40">
							</rect>
						</svg>
						<div id="eg__Jaison_Just_bw">
							<span>Digite o CPF</span>
						</div>
					</div>
					<div id="Name_bx">
						<span>CPF do Segurado(a)</span>
					</div>
					<svg class="rectangle_1">
						<rect fill="rgba(154,154,154,1)" stroke="rgba(149,152,154,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="rectangle_1" rx="3" ry="3" x="0" y="0" width="319" height="44.468">
						</rect>
					</svg>
					<div id="CLICK_ME">
						<span>LOG IN </span>
					</div>
				</div>
			</div>
			<svg class="rectangle_1_b">
				<rect fill="rgba(154,154,154,1)" stroke="rgba(149,152,154,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" onclick="application.goToTargetView(event)" id="rectangle_1_b" rx="3" ry="3" x="0" y="0" width="319" height="44.468">
				</rect>
			</svg>
			<div id="CLICK_ME_b">
				<span>Entrar</span>
			</div>
			<div id="CLICK_ME_ca">
				<span>Creat new account</span>
			</div>
		</div>
	</div>
	<div onclick="application.goToTargetView(event)" id="Grupo_860">
		<svg class="rectangle_1_ca">
			<rect fill="rgba(154,154,154,1)" stroke="rgba(149,152,154,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="rectangle_1_ca" rx="3" ry="3" x="0" y="0" width="360" height="70.902">
			</rect>
		</svg>
		<div id="CLICK_ME_cb">
			<span>Cadastre-se</span>
		</div>
		<div id="CLICK_ME_cc">
			<span>Se não possui seguro</span>
		</div>
	</div>
</div>
</body>
</html>