<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Preenchimento de dados</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="Preenchimento_de_dados.css"/>
<script id="applicationScript" type="text/javascript" src="Preenchimento_de_dados.js"></script>
</head>
<body>
<div id="Preenchimento_de_dados">
	<div id="Grupo_1008">
		<svg class="Ret_ngulo_1129">
			<rect fill="rgba(255,255,255,1)" stroke="rgba(149,152,154,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ret_ngulo_1129" rx="0" ry="0" x="0" y="0" width="360" height="57">
			</rect>
		</svg>
		<div id="Grupo_851">
			<div id="Registro">
				<span>Registro</span>
			</div>
			<svg class="icon__back" viewBox="4 4 20 20">
				<path fill="rgba(170,176,187,1)" onclick="application.goToTargetView(event)" id="icon__back" d="M 24 12.75000095367432 L 8.787500381469727 12.75000095367432 L 15.77499485015869 5.762499809265137 L 13.99999904632568 3.999999046325684 L 3.999999046325684 13.99999904632568 L 13.99999904632568 24 L 15.76250076293945 22.23749923706055 L 8.787500381469727 15.25 L 24 15.25 L 24 12.75000095367432 Z">
				</path>
			</svg>
			<div id="Grupo_738">
				<svg class="Elipse_256">
					<ellipse fill="rgba(170,176,187,1)" id="Elipse_256" rx="11" ry="11" cx="11" cy="11">
					</ellipse>
				</svg>
				<svg class="Caminho_27" viewBox="-0.522 -0.451 14.667 6.262">
					<path fill="rgba(249,250,252,1)" id="Caminho_27" d="M 3.104794979095459 1.082944631576538 C 3.104794979095459 1.082944631576538 5.77899169921875 4.202722072601318 5.77899169921875 4.202722072601318 L 9.466097831726074 -0.451416015625 L 14.14469337463379 5.81036376953125 L -0.5219725966453552 5.81036376953125 L 3.104794979095459 1.082944631576538 Z">
					</path>
				</svg>
			</div>
		</div>
		<div onclick="application.goToTargetView(event)" id="Grupo_886">
			<svg class="rectangle_1">
				<rect fill="rgba(154,154,154,1)" stroke="rgba(149,152,154,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="rectangle_1" rx="3" ry="3" x="0" y="0" width="360" height="45">
				</rect>
			</svg>
			<div id="CLICK_ME">
				<span>Continue</span>
			</div>
		</div>
		<div id="Grupo_885">
			<svg class="rectangle_5">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(149,152,154,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="rectangle_5" rx="3" ry="3" x="0" y="0" width="304" height="40">
				</rect>
			</svg>
			<div id="eg__Jaison_Just">
				<span>ex: jose</span>
			</div>
			<div id="Name">
				<span>Primeiro nome</span>
			</div>
		</div>
		<div id="Grupo_887">
			<svg class="rectangle_5_bp">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(149,152,154,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="rectangle_5_bp" rx="3" ry="3" x="0" y="0" width="304" height="40">
				</rect>
			</svg>
			<div id="eg__Jaison_Just_bq">
				<span>ex: paulo</span>
			</div>
			<div id="Name_br">
				<span>Second Name</span>
			</div>
		</div>
		<div id="Grupo_884">
			<svg class="rectangle_5_bt">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(149,152,154,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="rectangle_5_bt" rx="3" ry="3" x="0" y="0" width="304" height="40">
				</rect>
			</svg>
			<div id="eg__Jaison_Just_bu">
				<span>ex: 11 99999-9999</span>
			</div>
			<div id="Name_bv">
				<span>Mobile</span>
			</div>
		</div>
		<div id="Grupo_884_bw">
			<svg class="rectangle_5_bx">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(149,152,154,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="rectangle_5_bx" rx="3" ry="3" x="0" y="0" width="304" height="40">
				</rect>
			</svg>
			<div id="eg__Jaison_Just_by">
				<span>ex: jjpaulo</span>
			</div>
			<div id="Name_bz">
				<span>User</span>
			</div>
		</div>
		<div id="Grupo_884_b">
			<svg class="rectangle_5_b">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(149,152,154,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="rectangle_5_b" rx="3" ry="3" x="0" y="0" width="304" height="40">
				</rect>
			</svg>
			<div id="Name_b">
				<span>Password</span>
			</div>
			<div id="eg__Jaison_Just_b">
				<span>ex: 1234</span>
			</div>
		</div>
		<div id="Grupo_884_ca">
			<svg class="rectangle_5_ca">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(149,152,154,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="rectangle_5_ca" rx="3" ry="3" x="0" y="0" width="304" height="40">
				</rect>
			</svg>
			<div id="eg__Jaison_Just_ca">
				<span>ex: 1234</span>
			</div>
			<div id="Name_ca">
				<span>Confirm Password</span>
			</div>
		</div>
	</div>
</div>
</body>
</html>